@media screen and (max-width:1023px)
{
	footer, #popular, #activities
	{
	  background-color: #f2f2f2;
    }
    #accomodations
    {
        background-color: white;
    }
	#main 
	{
		grid-template-areas: 
		"header"
		"popular"
		"accomodations"
		"activities";
        grid-template-columns: 1fr;
	}
	nav
	{
		display:flex;
		justify-content: space-between;
		align-items: center;
		height: 8em;
	}
	nav img
	{
		height:100%;
	}
	#popular
	{
		grid-area:popular;
        display:flex;
        flex-wrap: wrap; 
        justify-content: space-between;
	}
	#popular h2
	{
        padding:0;
        width:90%;
    }
	#popular a
	{
        max-width:30%;
    }
	#activities
	{
		grid-area: activities;
		grid-template-areas: 
        "acttitle acttitle"
        "actpic1 actpic2"
        "actpic1 actpic2"
        "actpic1 actpic2"
        "actpic1 actpic4"
        "actpic5 actpic4"
        "actpic5 actpic4"
        "actpic6 actpic4"
        "actpic6 actpic3"; 
        padding:2rem 2.6rem 3rem 2.6rem;
    }
    #activities h2
    {
        margin-bottom: 0;
	}
	#activities figcaption
	{
		background-color: white;
		border-radius: 1rem;

	}
	footer
	{    
		display: flex;
		justify-content:center;
	}
	#informations
	{
        display:flex;
		justify-content: space-between;
		
    }
    #informations .infos
    {
        margin:auto;
	}
	footer a, footer a:visited
	 {
		color:black;
	}
}