@font-face {
    font-family: 'Raleway-Regular';
    src: url('Raleway-Regular.ttf');

}
*
{
    font-family:'raleway-regular';
}
body
{
    display:flex;
    flex-direction: column;
    align-items:center;
}
header
{

    display:flex;
    flex-wrap:wrap;
    width:95%;
}
header h1
{
    width:100%;
}
nav
{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
nav ul
{
    display:flex;
    list-style-type:none;
}

form
{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    background-color:tomato;
}
form p
{
    width:100%;
}
form ul 
{
    display:flex;
    list-style-type: none;
}
figure,aside,section,img
{
    border-radius: 20px;
}
#accomodations
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#f2f2f2 ;
}
#accomodations h2,p
{
    width:100%;
}
#accomodations figure
{
    height: 150px;  
    width: 200px;
    padding:3px;
    margin: auto;
}
#accomodations figure img
{
    height: 150px;  
    width: 200px;
    object-fit:cover;
}



