@font-face {
    font-family: 'Raleway-Regular';
    src: url('Raleway-Regular.ttf');
}
*
{
    font-family: 'raleway-regular';
    font-size: 1em;
}
nav
{
    display:flex;
    color : blue;

}
#filtres
{
    display:flex;
    font-weight: bolder;
}
#filtres ul
{
    display:flex;
    list-style-type:none;

}
#filtres li
{

    font-weight: bold;
    margin:16px;
    border : solid black;


}

#filtres i
{
    font-size : 1.3em;    
    padding:16px;
    border :solid black 1px;
    border-radius:150px;
    color:#0065FC;
    background-color:#DEEBFF;

}

section
{
    background-color:#f2f2f2 ;
}

